BOT_TOKEN=7707522221:AAFEc5JiXCPydeA3bTN77a8L1M0IwtMgd-M
API_ID=29037902
API_HASH=8f963da8e2040053cf0ad8932244890e
### CHROME EXEC PATH ? LEAVE THIS BLANK ###
EXEC_PATH=GOOGLE_CHROME_SHIM
### OPTIONAL ###
REQUEST_TIMEOUT=30
SUPPORT_GROUP_LINK=https://t.me/bytessupport
LOG_GROUP=
