Pillow==11.1.*
Pyrogram==2.0.*
TgCrypto==1.2.*
cachetools==5.5.*
python-dotenv==1.0.*
playwright==1.51.0
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1

# Dev Requirements
ipdb
